<md-list>
  <div ng-controller="FacebookController as fb">
    <md-content class="layout-padding flex">
      <h4 class="md-title">{{welcomeMsg}}</h4>
      
      <md-button class="md-raised" ng-click="login()" ng-hide="isLoggedIn()"> LOGIN </md-button>
    </md-content>
  </div>
    
  <md-list-item ng-repeat="it in users" ng-show="isLoggedIn()">
      <md-button ng-click="selectUser(it)" ng-class="{'selected': it === selected}">
        <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
          {{it.name}}
      </md-button>
  </md-list-item>
</md-list>